/*  The styling of this document
	is divided into 5 section:
	Header, Menu, Messages, Content, and Footer
*/

/* Login Page */

.login-form,
.login-form h1,
.login-form span,
.login-form input,
.login-form label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top:25px;
    
	width: 400px;
	height: 320px;
	background-color: #f2f2f2;
	padding: 15px 25px 0 25px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #939393;
}

/* Form Title */
.login-form	h1 {
	line-height: 40px;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #000000;
}

/* Form Input General Styles */
.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit] {
	line-height: 14px;
	margin: 10px 0;
	padding: 6px 15px;
	border: 0;
	outline: none;
	
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;

}

/* Begin Header Styling */
#header {
	background-color: white;
    min-width: 767px;
    overflow: hidden;
    height: 87px;
}

#logoleft {
	float: left;
}

#logoright {
	padding-top: 10px;
	float: right;
	overflow: hidden;
}
/* End Header Styling */



/* Begin Menu Styling */
#menu {
	padding:0px 0px 0px 0px;
    overflow: visible;
	background: #ffffff; 
	box-shadow: 0px 3px 3px rgba(0,102,204,0.15);
	border-radius: 10px;  
	list-style: none;
	position: relative;
    transition-duration: 0.2s;
    height: 55px;
    min-width: 767px;
    width: 100%;
    border: .1em solid #939393;
}

#nav {
    float:left;
	padding: 0px 0px;
	margin: 0px 0px;
}

#nav li {
    float:left;
    display:inline-block;
    position:relative;
	list-style: none;
}

#nav li a {
	display:block;
	padding: 18px 15px;
	border-right: 1px solid #ccc;
	text-decoration: none;
	font-family: Arial;
	color: #3399CC;
	font-size: 16.5px;
}


#nav li a:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

#nav #arrow {
    font-size:11px;
    line-height:0%;
}

#nav li:hover #sub-menu{
    z-index:1;
    opacity:1;
}

#nav #firstText:hover {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

#nav #firstTab:hover{
	background: #3cb0fd;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
#nav #firstTab:hover #firstText{
	color: white;
}

#sub-menu {
    width:160%;
    padding:1px 0px;
    position:absolute;
    margin: -1px;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0);
}

#subMenuContainer {
	padding: 0px;
	padding-left: 7px;
	padding-top: 1px;
}

#sub-menu2 {
    width:160%;
    padding:1px 0px;
    position:absolute;
    margin: -1px;
    top:0px;
    left:100%;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0);
}

#sub-menu li:hover #sub-menu2{
	z-index:1;
    opacity:1;
}

#subMenu2Container {
	padding: 0px;
	padding-top: 1px;
	padding-left: 2px;
}

#sub-menu li {
    display:block;
    font-size:16px;
}
 
#sub-menu li a {
    padding:17px 20px;
    display:block;
    width: 162px;
    border-right: none;
}

.topSubMenuElement {
    border: .0007em solid #939393;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: white;
    border-top: 0;
}

.middleSubMenuElement {
    border: .0007em solid #939393;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-top: none;
	border-bottom: 1px solid #ccc;
    background: white;
}

.bottomSubMenuElement {
    border: .0007em solid #939393;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: white;
}

.subMenu2Element {
    border: .0007em solid #939393;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-left: none;
    background: white;
}

#status {
	text-align: right;
    overflow: hidden;
    height: 39.5px;
    font-size: 15px;
    font-weight: bold;
    padding-right: 15px;
    padding-top: 10px; 
}

#loginInfo {
	padding: 2px 8px;
	color: #000080;
}

#adminStatus {
	padding-right: 17.5px;
	color: #ff0000;
}

#logout {
    position: absolute;
    top: 20px;
    align: left;
    padding-left:5px;
}
/* End Menu Styling */



/* Begin Message Styling */
#messages {
	padding: 0;
	height: auto;
}

#greatingMessage {
	padding: 7px;
	font-weight: bold;
	margin-top: -10px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #939393;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    height: 30px;
    font-family: Arial;
	color: #000;
	font-size: 20px;
}

#errorMessage {
	padding: 10px;
}

#error {
    background:#ffecec;
    border:1px solid #f5aca6;
}

#success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}

#warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}

#notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}
/* End Message Styling */



/* Begin Content Styling */

#content {
	min-height: 300px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}

#AccountForm {
}

#addButtonContainer {
	padding-top: 10px;
}

#addSign {
    font-size:22px;
    line-height:0;
    padding-right: 10px;
}

table {
	padding: 0;
	margin: 0px;
	width:100%;
	overflow:hidden;
}

#content table {
    border-collapse: separate;
    border-spacing: 1px 0px;
    background: #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
   	background: #ffffff; 
	background: linear-gradient(top, #ffffff 0%, #f2f2f2 100%);  
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); 
	box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
	list-style: none;
	position: relative;
    transition-duration: 0.2s;
    padding: 0;
    margin:0;
    border: 1px solid #939393;
    border-radius: 10px;
}

.heading{
	background-color: #cfcdd0;
}

.odd {
	background-color: #eeeaf2
}

.even {
	background-color: #FFFFFF
}

#rotateLink {
	text-decoration: underline;
}

#awsAccountDetails {
	min-width: 300px;
}

#accountDetails {
	padding-left: 5px;
	margin: 10px;
    list-style-type: none;
}


#toggle {
	padding: 15px;
	min-width:100px;
}

#lastModified {
	min-width:170px;
    display: table;
    margin: 0 auto;
    padding: 0px;
}

#showPolicy {
	text-align: center;
}
/* End Content Styling */



/* Begin Footer Styling */
#footer {
	position: absolute;
	bottom: 0;
	min-width: 767px;
}
/* End Footer Styling */



/* Begin Attributes Styling */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.invisible {
	display: none;
}

.noBorder {
	border: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.noPadding {
	margin: 0;
	padding: 0;	
}

.buttonActive,
.buttonInactive{
	display: block;
	text-decoration: none;
    padding: 10px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    color: white !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    padding: 15px 0px;
   	width: 75px;
   	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttonActive {
    background-color: rgba(28, 184, 65, 1);
}

.buttonInactive {
    background-color: rgba(202, 60, 60, 1);
}

.buttonActive:hover {
    background-color: rgba(28, 184, 65, .5);
}

.buttonInactive:hover {
    background-color: rgba(202, 60, 60, .5);
}

.buttonLink {
	display: inline-block;
	text-decoration: none;
    padding: 10px 15px;
    background: #f2f2f2;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #939393;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.buttonLink:hover {
	color: #ffffff !important; 
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.addButton {
	width: 100px;
	margin: 10px;
}

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 112px;
}
/* End Attributes Styling */
